body {
  width: 300px;
  padding: 10px;
  font-family: Arial, sans-serif;
}

button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
}

#timerDisplay {
  font-size: 16px;
  text-align: center;
}
